.header {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  min-width: 50vw;
  background-image: url("../images/mobile/image-header.jpg");
  min-height: 100vh;
}

.header .container {
  padding: 5vh 5vw;
}

.header .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
}

@media (min-width: 841px) and (max-width: 1440px) {
  .header {
    background-image: url("../images/desktop/image-header.jpg");
  }
  .header .text {
    min-height: 65vh;
  }
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: space-between;
}

.nav .btn-menu,
.nav .logo {
  cursor: pointer;
  z-index: 999;
}

.nav .btn-menu {
  display: none;
}

@media (max-width: 840px) {
  .nav .btn-menu {
    display: block;
  }
  .nav .links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    min-height: 40vh;
    width: 90%;
    top: -100%;
    background: white;
    z-index: 9;
    transition: all 0.5s ease;
  }
  .nav .links::before {
    content: '';
    width: 0px;
    height: 0px;
    border: 20px solid white;
    border-top-color: transparent;
    border-left-color: transparent;
    top: -9%;
    right: 0;
    position: absolute;
  }
  .nav .links li:last-child {
    margin: 1em 0;
  }
  .nav .links .link {
    color: #5a636c;
  }
  .nav .links .cta {
    background: #fad400;
    color: #23303e;
    padding: 1em 1.5em;
    font-family: "Fraunces", sans-serif;
    border-radius: 10em;
    text-transform: uppercase;
  }
}

.nav #check {
  display: none;
}

.nav #check:checked ~ .links {
  top: 16%;
}

@media (min-width: 841px) and (max-width: 1440px) {
  .nav .logo {
    transform: scale(1.2);
  }
  .nav .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav .links .link {
    color: white;
    margin-right: 2em;
  }
  .nav .links .cta {
    background: #fad400;
    color: #23303e;
    padding: 1em 1.5em;
    font-family: "Fraunces", sans-serif;
    border-radius: 10em;
    text-transform: uppercase;
    background: white;
    margin-right: 0;
    transition: all 0.5s ease;
  }
  .nav .links .cta:hover {
    color: white;
    background: rgba(255, 255, 255, 0.3);
  }
}

.about .text {
  padding: 5vh 5vw;
  min-height: 50vh;
  margin: 2em 0;
}

@media (min-width: 841px) and (max-width: 1440px) {
  .about .text {
    text-align: left;
  }
}

.about .learn-more {
  position: relative;
}

.about .learn-more::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: -10%;
  padding: 0 0.5em;
  transform: translate(-0.5em);
  border-radius: 10em;
  background: #fad400;
  opacity: 0.3;
  z-index: -999;
  transition: all 0.5s ease;
}

.about .learn-more:hover::before {
  opacity: 1;
}

.about .transform .img {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  min-width: 50vw;
  background-image: url("../images/mobile/image-transform.jpg");
}

@media (min-width: 841px) and (max-width: 1440px) {
  .about .transform .img {
    background-image: url("../images/desktop/image-transform.jpg");
    min-height: 70vh;
    min-width: 50%;
  }
}

.about .standout .img {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  min-width: 50vw;
  background-image: url("../images/mobile/image-stand-out.jpg");
}

@media (min-width: 841px) and (max-width: 1440px) {
  .about .standout .img {
    background-image: url("../images/desktop/image-stand-out.jpg");
    min-height: 70vh;
    min-width: 50%;
  }
}

.about .standout .learn-more::before {
  background: #fe7867;
}

@media (min-width: 841px) and (max-width: 1440px) {
  .about .transform,
  .about .standout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .about .transform .img {
    order: 2;
  }
  .about .transform .text {
    order: 1;
  }
}

.services .graphic,
.services .photography {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  min-width: 50vw;
  min-height: 100vh;
  position: relative;
}

.services .graphic .text,
.services .photography .text {
  padding: 5vh 5vw;
  bottom: 0;
  position: absolute;
}

.services .graphic .text h2,
.services .graphic .text p,
.services .photography .text h2,
.services .photography .text p {
  color: #25564b;
}

.services .graphic .text p,
.services .photography .text p {
  font-size: 0.9em;
}

@media (min-width: 841px) and (max-width: 1440px) {
  .services .graphic,
  .services .photography {
    background-image: url("../images/desktop/image-graphic-design.jpg");
    min-height: 80vh;
    min-width: 50%;
  }
}

.services .photography {
  background-image: url("../images/mobile/image-photography.jpg");
}

@media (min-width: 841px) and (max-width: 1440px) {
  .services .photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

.services .photography h2,
.services .photography p {
  color: #19536b;
}

@media (min-width: 841px) and (max-width: 1440px) {
  .services .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.services .testimonials {
  margin-top: 3em;
}

.services .testimonials .card {
  margin: 5em 0;
}

.services .testimonials .card img {
  width: 5em;
  border-radius: 50%;
}

.services .testimonials .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #23303e;
}

.services .testimonials .card .info span {
  margin-top: 1em;
  color: #a7abae;
  font-size: 0.9em;
}

@media (min-width: 841px) and (max-width: 1440px) {
  .services .testimonials .card {
    max-width: 29%;
  }
}

@media (min-width: 841px) and (max-width: 1440px) {
  .services .testimonials .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: flex-start;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 841px) and (max-width: 1440px) {
  .projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.projects .card {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  min-width: 50vw;
  min-height: 25vh;
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}

@media (min-width: 841px) and (max-width: 1440px) {
  .projects .card {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
    min-height: 80vh;
    min-width: 25%;
  }
}

.projects .card:nth-child(2) {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}

@media (min-width: 841px) and (max-width: 1440px) {
  .projects .card:nth-child(2) {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
  }
}

.projects .card:nth-child(3) {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}

@media (min-width: 841px) and (max-width: 1440px) {
  .projects .card:nth-child(3) {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
  }
}

.projects .card:nth-child(4) {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

@media (min-width: 841px) and (max-width: 1440px) {
  .projects .card:nth-child(4) {
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }
}

.footer {
  background: #87c4b8;
}

.footer .logo {
  margin: 2em 0 3em;
  transform: scale(1.5);
}

.footer .logo path {
  fill: #458c7e;
}

.footer .links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: space-around;
}

.footer .links .link {
  color: #458c7e;
  transition: all 0.5s ease;
}

.footer .links .link:hover {
  color: white;
}

@media (min-width: 841px) and (max-width: 1440px) {
  .footer .links {
    max-width: 35%;
    margin: 0 auto;
  }
}

.footer .socmed {
  margin: 3em 0 1em;
}

.footer .socmed svg {
  margin: 0 0.5em;
  cursor: pointer;
}

.footer .socmed svg path {
  transition: all 0.5s ease;
}

.footer .socmed svg path:hover {
  fill: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  text-align: center;
}

h1,
h2,
h4,
strong,
.learn-more {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
}

.testimonials,
footer {
  padding: 5vh 5vw;
}

h1,
.learn-more,
.text-up {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5em;
  letter-spacing: 5px;
  color: white;
}

h2 {
  font-size: 1.8em;
  color: #23303e;
}

h4 {
  color: #818498;
  letter-spacing: 3px;
}

p {
  color: #5a636c;
  line-height: 1.8em;
  margin: 1.5em 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #23303e;
}
/*# sourceMappingURL=style.css.map */