.footer {
	background: $Dark-moderate-cyan2;

	.logo {
		margin: 2em 0 3em;
		transform: scale(1.5);

		path {
			fill: $Dark-moderate-cyan;
		}
	}

	.links {
		@include flexBox;
		justify-content: space-around;

		.link {
			color: $Dark-moderate-cyan;
			transition: $halfSec;

			&:hover {
				color: $White;
			}
		}

		@include screenBreakpoint(desktop) {
			max-width: 35%;
			margin: 0 auto;
		}
	}

	.socmed {
		margin: 3em 0 1em;
		svg {
			margin: 0 0.5em;
			cursor: pointer;

			path {
				transition: $halfSec;
				&:hover {
					fill: $White;
				}
			}
		}
	}
}
