@mixin resetHtml {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@mixin bgImage {
	background-image: url('../images/mobile/image-graphic-design.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 50vh;
	min-width: 50vw;
}

@mixin flexBox {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

@mixin flexBoxCol {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

@mixin paddingSide {
	padding: 5vh 5vw;
}

@mixin triangle {
	width: 0px;
	height: 0px;
	border: 20px solid $White;
	border-top-color: transparent;
	border-left-color: transparent;
}

@mixin paragraph {
	color: $Very-darkgrayish-blue;
	line-height: 1.8em;
	margin: 1.5em 0;
}

@mixin cta {
	background: $Yellow;
	color: $Very-darkdesaturated-blue;
	padding: 1em 1.5em;
	font-family: $font-primary;
	border-radius: 10em;
	text-transform: uppercase;
}

@mixin btnAccent {
	content: '';
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: -10%;
	padding: 0 0.5em;
	transform: translate(-0.5em);
	border-radius: 10em;
	background: $Yellow;
	opacity: 0.3;
	z-index: -999;
}
// media queri break point
//
// how to use ?
//
// css-selector {
//   @include screenBreakpoint(phone) {
//     font-size: 14px;
//   }
// }

@mixin screenBreakpoint($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: $phone) {
			@content;
		}
	}
	@if $breakpoint == tablet {
		@media (min-width: ($phone + 1px)) and (max-width: $tablet) {
			@content;
		}
	}
	@if $breakpoint == desktop {
		@media (min-width: $tablet) {
			@content;
		}
	}
}
