// Primary colors
$Soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);

// (graphic design text)
$Dark-desaturated-cyan: hsl(167, 40%, 24%);

// (photography text)
$Dark-blue: hsl(198, 62%, 26%);

// (footer)
$Dark-moderate-cyan: hsl(168, 34%, 41%);
$Dark-moderate-cyan2: hsl(168, 34%, 65%);

// Neutral colors
$Very-darkdesaturated-blue: hsl(212, 27%, 19%);
$Very-darkgrayish-blue: hsl(213, 9%, 39%);
$Dark-grayish-blue: hsl(232, 10%, 55%);
$Grayish-blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

// screen breakpoints
$phone: 420px;
$tablet: 840px;
// $desktop: 1280px;
// $desktop: 1440px;

// font family
$font-primary: 'Fraunces', sans-serif;
$font-secondary: 'Barlow', sans-serif;

// transition
$halfSec: all 0.5s ease;
